<!DOCTYPE html>
<html>
  
  <head>
    <title>Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  
  <body>
    <div class="container">
    <h1 class="text-center mt-2 mb-4" style="font-size:80px;">Careers</h1>
      <img class="class=object-fit-fill" src="./static/bg.jpg" height="400" width="100%">
    
    <h2 class="text-center mt-2 mb-4"">About Us</h2>
    <p class="lead"> 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec facilisis risus. Proin sit amet velit turpis. Vestibulum vitae lectus porta, aliquet erat vitae, lacinia tellus. Nunc ut convallis arcu, at egestas leo. Quisque porttitor non libero eu dignissim. Suspendisse orci quam, tempor at consectetur sed, scelerisque vel ipsum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar magna sit amet velit imperdiet eleifend. Quisque feugiat mi in massa tincidunt, ut semper tellus egestas. Nullam egestas ac nisi ac hendrerit. Aliquam fringilla eros sed magna ornare, ut dictum leo varius. Vivamus tristique bibendum metus vel auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    <h2 class="text-center mt-2 mb-4"">Open Positions</h2>
    <div>
      {% for job in jobs %}
        {% include 'jobitem.html' %}
      {% endfor %}
    </div>
      <div class="text-center">
        <button type="button" class="btn btn-primary btn-lg">Contact Us</button>
        <p>Copyright 2024</p>
      </div>
    </div>
  </body>
</html>